[data-theme="light"] {
  display: block;
}

[data-theme="dark"] {
  display: none;
}

.dark [data-theme="light"] {
  display: none;
}

.dark [data-theme="dark"] {
  display: block;
}

[data-rehype-pretty-code-figure] {
  @apply relative text-[#fff];
}

[data-rehype-pretty-code-figure] code {
  @apply grid min-w-full rounded-none border-0 bg-transparent break-words;
  counter-reset: line;
  box-decoration-break: clone;
  padding: 0;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply inline-block min-h-[1rem] w-full px-[16px] py-[2px];
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
  @apply px-[8px];
}

[data-rehype-pretty-code-figure] [data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
  @apply text-[12px] text-[#fafafa];
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  @apply bg-[#3f3f46];
}

[data-rehype-pretty-code-figure] [data-highlighted-line] span {
  @apply relative;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded-[6px] border-[#27272a] px-[4px] py-px;
  backgroundcolor: var(--color-background/50);
}

.dark [data-rehype-pretty-code-figure] [data-highlighted-chars] {
  backgroundcolor: var(--color-background/50);
}

[data-rehype-pretty-code-title] {
  @apply mt-[8px] px-[16px] pt-[24px] text-[14px] font-[500];
  color: var(--color-foreground);
}

[data-rehype-pretty-code-title] + pre {
  @apply mt-[8px];
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-[0px];
}

.steps > h3 {
  @apply mt-[32px] mb-[16px] text-[16px] font-[600];
}
